<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h1>Registrar Cliente</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <ul>
          <li>
            {{ form.username.label }}
            {{ form.username }}
          </li>
          <li>
            {{ form.email.label }}
            {{ form.email}}
          </li>
          <li>
            {{ form.password.label }}
            {{ form.password }}
          </li>
          <p> 
            {{ form.submit() }}
          </p>
        </ul>
      </form>      
</body>
</html>